#Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
.bundle/
.byebug_history
.ruby-gemset
.ruby-version

# Files
.analysis
.DS_Store
*.swp
*~

# Folders
vendor/
/vendor
bbin/
bin/
coverage
gh-pages/
pkg/
test/dest
tmp/*
